extends layout

block content
  .container.journal-container
    - var currTz = moment().tz(timezone)
    
    .row
      h3.text-center.day-of-week #{currTz.format('dddd')}
      .col-md-1
        i.fa.fa-chevron-left.fa-2x
      .col-md-10
        h2.text-center.day-of-month #{currTz.format('MMMM D')}
      .col-md-1
        i.fa.fa-chevron-right.fa-2x

    - var monthday = currTz.format('MMDD')
    - var year = currTz.format('YYYY')

    if journal && journal[monthday]
      - var entries = journal[monthday]

      each entry, year in entries
        .row.journal-row
          .col-md-1
            p= year
          .col-md-11
            p.lead.journal-entry= entry

    if !journal || !journal[monthday] || !journal[monthday][year]
      .row.journal-row
        .col-md-1
          p= year
        .col-md-11
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.sr-only(for='entry') How was your day?
              input.form-control(type='text', name='entry', id='entry', placeholder='How was your day?', autofocus=true)
            button.btn.btn-primary(type='submit')
              | Save