extends layout

block content 
  h2 #{moment().format('MMMM D')}
  hr
  
  - var monthday = moment().format('MMDD')
  - var year = moment().format('YYYY')

  if journal
    - var entries = journal[monthday]
  
    each entry, year in entries
      div.row
        div.col-md-1
          h4= year
        div.col-md-6
          h4= entry
  
  if !journal[monthday][year]
    div.row
      div.col-md-1
        h4= year
      div.col-md-6
        form.form-inline(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control(type='text', name='entry', id='entry', placeholder='How was your day?', autofocus=true)
            button.btn.btn-primary(type='submit')
              | Save