extends layout

block content
  .container.journal-container    
    .row
      h3.text-center.day-of-week #{month}
      .col-md-1
        a(href='/journal/#{previous}')
          i.fa.fa-chevron-left.fa-2x
      .col-md-10
        h1.text-center.day-of-month #{day}
      .col-md-1
        a(href='/journal/#{next}')
          i.fa.fa-chevron-right.fa-2x

    if journal
      - var entries = journal

      each entry, year in entries
        .row.journal-row
          .col-md-1
            p= year
          .col-md-11
            p.lead.journal-entry= entry

    - var currTz = moment().tz(timezone)
    - var year = currTz.format('YYYY')

    if !journal || !journal[year]
      .row.journal-row
        .col-md-1
          p= year
        .col-md-11
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.sr-only(for='entry') How was your day?
              input.form-control(type='text', name='entry', id='entry', placeholder='How was your day?', autofocus=true)
              input(type='hidden' name='monthday' value=monthday)
              input(type='hidden' name='year' value=year)
            button.btn.btn-primary(type='submit')
              | Save